/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop */
@media only screen and (min-width: $bpDesktop) {

}
/* Tablet */
@media only screen and (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {

}
/* Mobile */
@media only screen and (min-width: $bpMobile) and (max-width: $bpTablet - 1) {

}
/* Smaller Mobile */
@media only screen and (max-width: $bpMobile - 1) {

}

/* Specific Mobile Device Media Queries */

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) { 

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (device-aspect-ratio: 375/667) { 

}

/* ----------- Galaxy S5 / Android ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71) {

}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) {

}