.recordings {
	display: none;

	&.visible {
		display: block;
		// opacity: 1;
		// transition: 1s;
	}

	.thumbnail {
		margin: 30px;

		img {
			padding-top: 5px;
		}

		.btn-default {
			margin-top: 5px;
		}
	}

	.add-date {
		color: #BBB;
	    font-style: italic;
	    font-size: .8em;
	}
}