.responses {
	display: none;

	&.visible {
		display: inline-block;
		// opacity: 1;
		// transition: 1s;
	}

	.item {
		margin: 10px;

		p {
			font-family: $fHeadlines;
    		text-align: right;
		}

		.date {
			float: none;
		}
	}
}