.story {
	display: none;
	margin-top: -60px;
	
	&.visible {
		display: block;
	}

	.btn-audio {
		display: inline-block;
		width: 80px;
    	height: 80px;
	}

	.story-image {
		display: block;
		margin: 0 auto 10px;
		width: 100%;
	}

	.story-content {
		width: 90%;
    	margin: 0 auto;
	}

	.summary {
		display: inline-block;
		text-align: left;
		width: 75%;
    	margin: 0 auto 20px;

    	.title {
    		color: $cOrange;
    		margin-bottom: 0;
    		padding: 0;
    	}
	}

	.prompt {
		text-align: left;
		margin: 0 auto;
    	width: 90%;
	}
}