/* 
 * Module Rules
 *
 A Module is a more discrete component of the page. It is your navigation bars and your carousels and your 
 dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. 
 Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a 
 standalone component.
 *
 */

@import "modules/about";
@import "modules/buttons";
@import "modules/error";
@import "modules/loading";
@import "modules/recordings";