@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* 
 * Base Rules
 *
 A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
 *
 */
/* fonts */
/* Example Usage:
 *
    @font-face{
        font-family:"Sofia Pro Light";
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix");
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot"),url("../assets/fonts/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2") format("woff2"),url("../assets/fonts/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff") format("woff"),url("../assets/fonts/864da3de-5a97-4ce6-a22b-22932ed4dfe0.ttf") format("truetype"),url("../assets/fonts/d5898683-1b2a-4b1b-8058-0c8db30e40cf.svg#d5898683-1b2a-4b1b-8058-0c8db30e40cf") format("svg");
    }
 *
 */
/* Fonts */
/* Colors */
/* Colors + Use Cases */
/* Responsive Breakpoints */
/* Default Padding */
/* Widths */
/* mixins */
body {
  background-color: #D7DFE2;
  color: #111;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

h1 {
  color: #333;
  font-size: 2em;
  font-weight: 300;
  padding: 12px 0; }

h2 {
  color: #333;
  font-size: 1.75em;
  font-weight: 400; }

h3 {
  color: #333;
  font-size: 1.5em;
  font-weight: 500; }

h4 {
  color: #333;
  font-size: 1.25em;
  font-weight: 700; }

h5 {
  color: #333; }

p {
  color: #004A97;
  font-size: 1em; }

a {
  color: #ff0000; }

img {
  width: 92%; }

/* 
 * Layout Rules
 *
 The major components, such as header, footer, articles.
 *
 */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav li {
  display: inline;
  height: 30px;
  margin-left: 10px; }

.flex-nav {
  display: -webkit-inline-flex;
  /* Safari */
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column-reverse;
  /* Safari */
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -webkit-justify-content: space-around;
  /* Safari */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 30px; }

.flex-item {
  color: #fff;
  padding: 5px;
  background: #333;
  margin: 2px;
  cursor: pointer; }

/* 
 * Module Rules
 *
 A Module is a more discrete component of the page. It is your navigation bars and your carousels and your 
 dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. 
 Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a 
 standalone component.
 *
 */
.button {
  background-color: #a1a1a1;
  cursor: pointer;
  display: block;
  padding: 20px;
  width: 200px;
  height: 40px; }

/* menu */
.navbar-form {
  margin: 0 auto;
  max-width: 650px; }

.recordings .thumbnail {
  margin: 30px; }

.recordings .thumbnail img {
  padding-top: 5px; }

.recordings .thumbnail .btn-default {
  margin-top: 5px; }

.add-date {
  color: #BBB;
  font-style: italic;
  font-size: .8em; }

/* 
 * State Rules
 A state is something that augments and overrides all other styles. For example, an accordion section may be in a collapsed or expanded state. A message may be in a success or error state.
 *
 */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Desktop */
/* Tablet */
/* Mobile */
/* Smaller Mobile */
/* Specific Mobile Device Media Queries */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* ----------- Galaxy S5 / Android ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */


