section {
	width: 100%;
}
p {
	color: $cParagraph;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
}
a {
	color: $cLink;
}
.cta {
	background-color: $cOrange;
	color: $cBlue;
	font-family: $fBebas;
	text-transform: uppercase;
	height: 40px;
	padding-top: 12px;
	margin-bottom: 17px;
	font-size: 1.5em;
	letter-spacing: .03em;
}