/* fonts */

/* Example Usage:
 *
    @font-face{
        font-family:"Sofia Pro Light";
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix");
        src:url("../assets/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot"),url("../assets/fonts/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2") format("woff2"),url("../assets/fonts/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff") format("woff"),url("../assets/fonts/864da3de-5a97-4ce6-a22b-22932ed4dfe0.ttf") format("truetype"),url("../assets/fonts/d5898683-1b2a-4b1b-8058-0c8db30e40cf.svg#d5898683-1b2a-4b1b-8058-0c8db30e40cf") format("svg");
    }
 *
 */
