body {
	background-color: $cBackground;
	color: $cBody;
	font-family: $fBody, sans-serif;
	font-size: 16px;
	font-weight: $fNormal;
}
h1 {
	color: $cHeadline;
	font-size: 2em;
	font-weight: $fLight;
	padding: 12px 0;
}
h2 {
	color: $cHeadline;
	font-size: 1.75em;
	font-weight: $fNormal;
}
h3 {
	color: $cHeadline;
	font-size: 1.5em;
	font-weight: $fMedium;
}
h4 {
	color: $cHeadline;
	font-size: 1.25em;
	font-weight: $fBold;
}
h5 {
	color: $cHeadline;
}
p {
	color: $cParagraph;
	font-size: 1em;
}
a {
	color: $cLink;
}
img {
	width: 90%;
}
ul {

}
li {

}