/* Fonts */
$fBody: 'Raleway';
$fLight: 300;
$fNormal: 400;
$fMedium: 500;
$fBold: 700;

/* Colors */
$cBlack: #111;
$cLightGrey: #eee;
$cGrey: #333;
$cRed: #ff0000;
$cGreen: #00ff00;
$cBlue: #0000ff;
$cWhite: #a1a1a1;
$cPink: #FF25A9;

/* Colors + Use Cases */
$cBody: $cBlack;
$cHeadline: $cGrey;
$cParagraph: #004A97;
$cLink: $cRed;
$cHover: $cBlue;
$cBackground: $cLightGrey;
$cButton: $cWhite;

/* Responsive Breakpoints */
$bpMobile: 768px;
$bpTablet: 992px;
$bpDesktop: 1200px;

/* Default Padding */
$padding: 1.5em;

/* Widths */
$wrapper-pixel-width: 650px;
$wrapper-percent-width: 90%;
