/* Fonts */
$fBody: 'Lato';
$fHeadlines: 'Oswald';
$fLight: 300;
$fNormal: 400;
$fBold: 700;

/* Colors */
$cBlack: #111;
$cLightGrey: #D7DFE2;
$cGrey: #333;
$cOrange: #d81f27;
$cBlue: #e1f4fd;
$cWhite: #a1a1a1;

/* Colors + Use Cases */
$cBody: $cBlack;
$cHeadline: $cGrey;
$cParagraph: $cBlack;
$cLink: $cOrange;
$cHover: $cBlack;
$cBackground: $cBlue;
$cButton: $cBlack;

/* Responsive Breakpoints */
$bpMobile: 768px;
$bpTablet: 992px;
$bpDesktop: 1200px;

/* Default Padding */
$padding: 1.5em;